$icon-address:'~@/assets/svgIcons/';
$icon-list :'read', 'solution', 'table', 'tablet','team','user';
$randomColorlLevel:100;  //随机颜色等级
$fontSizeLevel:50; //font-size 等级
@mixin  setIcon($element-name,$width) {
   .icon-#{$element-name} {
     display: inline-block;
     vertical-align: middle;
     width: $width;
     height: $width;
     background: url(($icon-address)+($element-name)+'.svg') no-repeat center center;
     background-size: 100%;
     flex: 1;
   }
}
@each $name in $icon-list {
  　body {
    @include  setIcon($name,50px)
  }
}  //遍历所用icon
@function randomColor(){
  $r :floor(random()*256);
  $g: floor(random()*256);
  $b: floor(random()*256);
  $o: floor(random()*40)+60;
  @return rgba($r,$g,$b,$o)
};  //随机颜色函数
@mixin cement($gray-level){
  @for $num from 1 through $randomColorlLevel{
    @if  $gray-level== $num{ & {  background: randomColor();border: 1px black solid; box-sizing: border-box;  } }
  }
}  //切图专用混凝土
@mixin textEllipsis($line){
  &{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:$line;
  }

} //超过line行就隐藏
@for $num from 1 through $fontSizeLevel{
  .font#{$num} {
    font-size:$num+px
}
} //增加font-size等级  例如font-25 则设置fontsize:25px
body {
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }


}

